{
    "presets": 
    [
       [ "@babel/preset-env",{
            "targets":{
                "browsers":[
                    "last 5 versions",
                    "ie >= 8"
                ]
            }
        }
        ]
        /*
        ["env", {
            "targets":{
                "browsers":[
                    "last 5 versions",
                    "ie >= 8"
                ]
            }
        }]*/
    ]
}